
$black:       #3d464d

$link-blue-1: #072584
$link-blue-2: #0b77e6

$grey-1:      #667581
$grey-2:      #e9ecee

$dead-red-1:  #840725










html
	font-family: 'Sans'
	color:       $black
	font-size:   16px

	-webkit-overflow-scrolling: none

body

	width:     71%
	margin:    0 auto
	font-size: 100%

#uploader-hidden
	display: none

h1
	font-size: 1em


ul
	list-style-type: none






a
	text-decoration: none
	color:           $link-blue-1

	&:focus, &:hover
		color: $link-blue-2






article
	margin-top:    60px
	margin-bottom: 60px

time
	font-size:     0.75em





header

	*
		padding: 10px 0px 10px 0px

	border-bottom: 2px solid $grey-2
	font-weight:   bold
	color:         $grey-1


	ul h1
		display: inline-block


	ul li
		display:    inline-block
		width:      32%
		text-align: center





.bookmark:not(.status-coded) a
	color: grey

.dead a
	color: $dead-red-1






#navbar

	position: fixed
	left:     10px
	top:      10px

	li
		padding: 10px
